@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0;
  font-size: 1rem;
  padding: 0;
  box-sizing: border-box;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px 0 50px;
  transition: 0.5s ease;
  width: 100vw;
}

header.sticky {
  background: #fff;
  opacity: 0.7;
  position: sticky;
  color: #000;
  padding: 10px 150px;
  transition: 0.4s ease;
}

header > .lg{
  margin-left: 0;
  line-height: 50px;
}
header > .lg > h1{
  color: #2696e9;
  text-shadow: 0.05em 0.05em 0 white;
  font-size: 35px;
}
header > .lg > h3{
 color: orange;
 font-size: 18px;
}

header.sticky .navigation .navigation-items a {
  color: #000;
}

header.sticky{
  padding: 15px 120px 0 50px;
}

header.sticky > img {
  width: 90px;
  height: 80px;
}

header .brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a::before {
  content: "";
  position: absolute;
  background: #fff;
  height: 3px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
}

header.sticky .navigation .navigation-items a::before {
  content: "";
  position: absolute;
  background: #000;
  height: 3px;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
}

header .navigation .navigation-items a:hover::before {
  width: 100%;
}

header.sticky .navigation .navigation-items a:hover::before {
  width: 100%;
}

section .home {
  padding: 100px 200px;
}

header img {
  width: 120px;
  height: 100px;
}

.home {
  position: relative;
  width: 100%;
  padding-left: 150px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #7752fe;
}

.home::before {
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(3, 96, 251, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #fff;
  padding: 15px 35px;
  text-decoration: none;
  color: #1680ac;
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s ease;
}

.button {
  width: 180px;
  height: 50px;
  border: 3px solid white;
  background: transparent;
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

/* .button span{
    background: linear-gradient(to left,#0652DD,#12CBC4);
    height: 50px;
    width: 0;
    border-radius: 25px;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s ease;
}

.button:hover span {
    width: 100%;
}

button:hover{
    border: none;
} */
.home .content a:hover {
  /* border:3px solid #fff; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #fff;
  font-weight: 700;
  background: #362fd9;
}

.menu-btn {
  display: none;
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100vw;
}
/* 
.testimonials h3{
  z-index: 999;
  margin-left: 120px;
  padding-bottom: 450px;
  font-size: 20px;
} */

.testimonials img {
  height: 400px;
  position: absolute;
  z-index: 000;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 130px;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-navigation1 {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-left: 40px;
  margin-top: 200px;
}

.slider-navigation1 .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation1 .nav-btn.active {
  background: #2696e9;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
}

.slider-navigation1 .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation1 .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn,
.c-nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active,
.c-nav-btn.active {
  background: #2696e9;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
}

.slider-navigation .nav-btn:not(:last-child),
.c-nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover,
.c-nav-btn:hover {
  transform: scale(1.2);
}

.video-slide,
.slide,
.t-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active,
.slide.active,
.t-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

.t-slide > img {
  height: 500px;
}

.crd{
  width: 100vw;
  height: 100vh;
  background: rgb(20, 50, 100, 0.8);
  color: white;
  text-align: center;
  /* font-size: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.crd.two {
  background-color: rgb(84, 125, 209);
}

.crd.two > h1 {
  font-size: 50px;
  margin-left: -60px;
  margin-bottom: -50px;
  margin-right: 30px;
}

.crd.two h4 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 25px;
  /* writing-mode: vertical-lr;
  transform: rotate(180deg); */
  /* text-align: right; */
}

.crd.two img {
  z-index: 0;
  filter: brightness(40%) contrast(101%);
  width: 300px;
}
/*
.crd.two .course {
  height: 300px;
  display: flex;
}

.crd.two .course img {
  z-index: 3;
  filter: none;
  padding-left: 10px;
} */

.crd.two > .course-slider {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
}

.course-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.course-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
  height: 550px;
}

.course-slider .slide .c-info {
  position: absolute;
  top: 20%;
  padding: 15px 30px;
}

.course-slider .slide .c-info p {
  color: #fff;
}

.course-slider > .slider-navigation > .navigation-items {
  margin-top: 500px;
  display: flex;
  flex-direction: row;
}

.crd.three {
  flex-direction: column;
  padding-top: 60px;
}

.crd.three > h1 {
  position: absolute;
  top: 60px;
  font-size: 30px;
}

section .achivements {
  background-color: white;
  width: 100%;
  height: 600px;
}

.achive {
  width: 100%;
  height: 600px;
}

.footer {
  width: 100vw;
  /* height: 300px; */
  background-color: #0b509d;
  color: white;
}
.fcontainer {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr 0.5fr 1fr 1fr;
  gap: 50px;
  padding: 20px;
}

.one {
  background-color: #cdf5fd;
}

.fcontainer a {
  text-decoration: none;
  color: white;
}

.fcontainer ul li {
  list-style: none;
}

.fcontainer span {
  margin-right: 4px;
  font-size: 10px;
}

.bottom {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.arrow {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 4px solid #362fd9;
  border-radius: 5px;
}

.arrow i {
  color: #362fd9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
}

.three {
  background-color: #e5d4ff;
  color: #000;
}

/* .three .box{
  display: flex;
  flex-direction: column;
} */
/* 
.slide-1{
  height: 400px;
  width: 500px;
  background-color: red;
}

.slides{
  background-color: blue;
  width: 100%;
  height: 400px;
}


.slide-1 .slides img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.three h4 {
  /* display: flex;
    justify-content: center;
    align-items: center; 
*/

.card1 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: sticky;
  top: 0;
}

.image-slider .t-slide img {
  /* margin: auto; */
  width: 500px;
  z-index: 5;
  border-radius: 5px;
  height: 500px;
  object-fit: cover;
}

.image-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/* .crd.three > h1{
  display: grid;
  grid-template-columns: 1fr;
  /* padding-top: 230px; */
/* } */
/* .image-slider .t-slide {
  z-index: 1;
  position: absolute; */
  /* width: 100%; */
  /* clip-path: circle(0% at 0 50%);
}

.image-slider .t-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.image-slider .t-slide .t-info {
  position: absolute;
  top: 0;
  
} */

/* .image-slider .t-slide .t-info h2 {
  color: #fff;
  text-shadow: 0.09em 0.08em 0 black;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.crd.three > h1{
  color: red;
  font-size: 50px;
  margin-bottom: 10px;
}

.image-slider > .t-slide > .t-info > h2.hostel {
  color: #000;
  text-shadow: 0.025em 0.09em 0 blue;
}

.image-slider .t-slide .t-info h2.lib {
  color: #fff;
  text-shadow: 0.09em 0.09em 0 black, 0.05em 0.05em 0 black;
}

.image-slider .t-slide .t-info p {
  color: #000;
  text-shadow: 0.025em 0.05em 0 white;
  font-size: 18px;
  width: 60%;
  font-weight: 600;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.3);
} */

.image-slider .nav {
  z-index: 2;
  position: absolute;
  display: flex;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}

.image-slider .t-slide{
  z-index: 1;
  position: absolute;
  width: 100%;
}

.image-slider .t-slide .t-info{
  position: absolute;
  top: 0;
  color: #000;
  left: 30%;
  width: 40x;
}

/* .image-slider .t-slide .t-info p{
  width: 40%;

} */

.image-slider .nav .bt {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.image-slider .nav .bt.active {
  background: #2696e9;
  border: 2px solid white;
}

/* .image-slider .t-slide .t-info{
  top: 10px;
  color: #fff;
} */

/* testimonial */
.four{
  background-color: #fff;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }
  section {
    padding: 100px 20px;
  }

  header .navigation {
    display: none;
  }

  section {
    padding: 0;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  .home {
    padding-left: 50px;
  }

  .home .content h1 {
    font-size: 50px;
    font-weight: 700;
  }

  .home .content h1 span {
    font-size: 60px;
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a::before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    opacity: 1;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  header.sticky .navigation.active .navigation-items{
    opacity: 1;
  }

  header.sticky .menu-btn {
    color: #000;
  }

  .home .content {
    padding-left: 0;
    left: 0;
    align-items: flex-start;
  }

  header.sticky {
    width: 100%;
    padding: 15px 5px;
  }

  .menu-btn {
    color: white;
    width: 60px;
    height: 60px;
    font-size: 60px;
    display: block;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 30px;
  }

  .menu-btn.active {
    z-index: 999;
    width: 40px;
    height: 40px;
  }
  .t-slide > img {
    height: 300px;
  }


  .crd.two > h1 {
    position: absolute;
    top: 70px;
    font-size: 40px;
    margin: 0 20px;
  }
  /* .crd.three > .image-slider > .nav {
    margin-top: 100px;
  } */
}
/* 

.image-slider .t-slide img{
  width: 500px;
  z-index: 2;
  border-radius: 5px;
  height: 500px;
  object-fit: cover;
}

.image-slider{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.image-slider .t-slide{
  z-index: 1;
  position: absolute;
  clip-path: circle(0% at 0 50%);
}

.image-slider .t-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.image-slider .t-slide .t-info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.image-slider .t-slide .t-info h2{
  color: #fff;
  text-shadow: 0.09em 0.08em 0 black;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.image-slider .t-slide .t-info h2.hostel{
  color: #000;
  text-shadow: 0.025em 0.09em 0 blue;
}

.image-slider .t-slide .t-info h2.lib{
  color: #fff;
  text-shadow: 0.09em 0.09em 0 black, 0.05em 0.05em 0 black;
}



.image-slider .t-slide .t-info p{
  color: #000;
  text-shadow: 0.025em 0.05em 0 white;
  font-size: 18px;
  width: 60%;
  font-weight: 600;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.3);
}

.image-slider .nav{
  z-index: 2;
  position: absolute;
  display: flex;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}

.image-slider .nav .bt{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.image-slider .nav .bt.active{
  background: #2696E9;
  border: 2px solid white;
} */

/* kunals css */

.crd.one {
  display: flex;
  /* flex-direction: column; */
  font-size: 1rem;
  justify-content: space-evenly;
  color: #000;
  gap: 50px;
  padding: 50px;
  /* flex-shrink: 1; */
}

.crd.one img {
  max-width: 100%;
  height: 250px;
  display: flex;
  margin-bottom: 30px;
}

.crd.one > .about-divs {
  margin-top: 50px;
  width: 400px;
  min-width: 200px;
  height: auto;
  /* flex: 1 1 auto; */
}

.crd.one > h1 {
  position: absolute;
  top: 60px;
  font-size: 40px;
}

@media (max-width: 1040px) {
  .slide > .c-info > h4 {
    font-size: 40px;
  }
  .slide > .c-info > p {
    font-size: 15px;
  }
  .crd.one {
    flex-direction: column;
    overflow: scroll;
  }
  .example::-webkit-scrollbar {
    display: none;
  }
  .crd.one > .is {
    position: absolute;
    top: 100px;
  }
  .crd.one > .vision {
    position: absolute;
    top: 530px;
  }
  .crd.one > .mission {
    position: absolute;
    top: 950px;
    padding-bottom: 30px;
  }
  .crd.one > h1 {
    position: absolute;
    top: 50px;
    font-size: 36px;
  }
  header img {
    height: 70px;
    width: 80px;
  }
  .home .content.active h1 {
    font-size: 40px !important;
  }
  .home .content.active span {
    font-size: 40px;
  }
  .home .content.active p {
    line-height: 1.2;
  }
  .fcontainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .image-slider .slide img {
    padding: 10px;
    border-radius: 20px;
  }
  header > .lg > h1{
    font-size: 30px;
  }
  header > .lg > h3{
    font-size: 20px;
  }
  header > .lg{
    line-height: 25px;
    padding-left: 5px;
  }
  header.sticky{
    padding-left: 5px;
  }
}

@media (max-width: 400px) {
  .image-slider .t-slide img {
    padding: 5px;
    width: 350px;
  }
  header > .lg > h1{
    font-size: 20px;
  }
  header > .lg > h3{
    font-size: 15px;
  }
  header > .lg{
    line-height: 25px;
    padding-left: 5px;
  }
  .image-slider .t-slide .t-info{
    margin-right: 200px;
    padding: 0;
    /* text-align: center; */
  }
}
